@tailwind base;

@layer base {
  .footer {
    @apply w-full h-auto bg-Very-Dark-Blue pb-14 pt-12 md:pt-14 md:pl-24 md:pr-24;
  }
  .footer_main {
    @apply w-full h-full  px-10 mx-auto flex flex-col-reverse 
    justify-center items-center md:flex-row md:justify-between
    md:items-start;
  }

  .logo_icon_combo {
    @apply flex flex-col-reverse md:flex-col;
  }
  .copy_right {
    @apply text-center text-Dark-Grayish-Blue text-xs md:hidden;
  }

  .logo {
    @apply pt-14 pb-14 w-[146px] mx-auto md:pt-0 md:pb-20;
  }

  .icon_ul {
    @apply flex flex-row items-center space-x-10
    md:space-x-3;
  }

  .icon_ul_img {
    @apply w-[34px] md:w-full;
  }

  .footer_nav {
    @apply w-[270px] flex flex-row justify-between items-start text-Very-Light-Gray
    pt-2 pb-14 text-lg md:flex md:flex-row md:justify-between;
  }

  .footer_nav_main {
  }

  .footer_nav_main_ul {
    @apply space-y-3;
  }

  .footer_form {
    @apply pb-10 md:pb-0;
  }

  .footer_form_main {
    @apply w-full;
  }

  .footer_form_input {
    @apply text-Bright-Red  border-transparent outline-none inline-block
    mr-1 placeholder-Dark-Grayish-Blue text-sm rounded-full w-auto py-2 px-5;
  }

  .footer_form_btn {
    @apply bg-Bright-Red text-Very-Light-Gray rounded-full text-sm
    inline-block px-6 py-2 font-bold;
  }

  .form_error {
    @apply text-Bright-Red text-sm hidden;
  }

  .form_copy_right {
    @apply hidden text-right text-Dark-Grayish-Blue text-xs
    md:block md:pt-16;
  }
}
